@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body {
    background: rgb(249,164,232);
    background: linear-gradient(0deg, rgba(249,164,232,1) 0%, rgb(253, 255, 112) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
  }
 
